body {
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  font-family: 'Roboto', sans-serif;
}
.InfoBox {
    text-align: center;
}
.cardContainer{
    display: flex;
    justify-content: center;
}
 .custom-card:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
}
.custom-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}